@import url('https://fonts.googleapis.com/css2?family=Bakbak+One&family=Exo+2:wght@600&family=Inter:wght@100&family=Mukta:wght@300&family=Mulish:wght@300&family=Open+Sans:wght@300&family=Oxanium:wght@600&family=PT+Sans+Narrow&family=Pacifico&family=Playfair+Display&family=Poppins:wght@100&display=swap');
footer{
    width: 100%;
    height: 9vh;
    background-color: #f195b2;
    color: #fff;
    position: relative;
    z-index: 3;
    span{
        color:#fff;
        cursor: pointer;
    }
    i{
        color: #fff;
        cursor: pointer;
    }
}
nav{
    width: 100%;
    height: 15vh;
    .myImg{
        background: url(../img/logo-circle-2.png) no-repeat scroll center center;
        height: 201px;
        width: 209px;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        z-index: 1;
        display: flex;
        justify-content: center;
        align-items: center;
       .logoImg{
        margin-top: 35px;
 
   }
}
   li{
    line-height: 85px !important;
    font-size: 18px;
    color: #454545;
    font-family: "Open Sans", sans-serif !important;
    font-weight: 600 !important;
    transition: .4s;
    &:hover{
        transition: .4s;
        color: #f195b2;
    }
   }
   .right-nav{
       margin-left: 500px;
   }
  
}
.homePage{
    width: 100%;
    height: 90vh;
   .slider1{
       width: 100%;
       height: 100%;
     background-image: url(../img/slider-1.jpg);
     background-attachment: fixed;
     background-position: center;
     background-size: cover;
     .texts{
         color: #fff;
         font-family: "Playfair Display", serif;
         h1{
            font-size: 65px;
            font-weight: bold !important;
         }
         p{
             width: 60%;
             font-size: 20px;
             line-height: 28px;
             font-style: italic;
         }
         .button{
             width: 250px;
             height: 50px;
             display: flex;
             align-items: center;
             justify-content: center;
             border:1px solid #fff;
             color: #3e606b;
             background-color: #fff;
             border-radius: 40px;
             font-size: 18px;
             font-family: "Open Sans", sans-serif;
             font-weight: 600 !important;
             transition: .7s;
             &:hover{
                 transition: .7s;
                 background-color: #f195b2;
                 border: 1px solid #f195b2;
                 color: #fff;
             }
         }
     }
   }
   .slider2{
    width: 100%;
    height: 100%;
  background-image: url(../img/slider-2.jpg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  .texts{
    color: #fff;
    font-family: "Playfair Display", serif;
    h1{
       font-size: 65px;
       font-weight: bold !important;
    }
    p{
        width: 60%;
        font-size: 20px;
        line-height: 28px;
        font-style: italic;
    }
    .button{
        width: 250px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        border:1px solid #fff;
        color: #3e606b;
        background-color: #fff;
        border-radius: 40px;
        font-size: 18px;
        font-family: "Open Sans", sans-serif;
        font-weight: 600 !important;
        transition: .7s;
        &:hover{
            transition: .7s;
            background-color: #f195b2;
            border: 1px solid #f195b2;
            color: #fff;
        }
    }
}
}
.menu{
    width: 100%;
    height: 90vh;
    background: url(../img/special-recipe.jpg) no-repeat fixed center center;
    background-size: cover;
    background-position: center;
    position: relative;
    line-height: 26px;
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
    color: #797979;
    .line{
        height: 250px;
        width: 3px;
        background: #bcbfc1;
        
    }
    .cakeTexts{
        h1{
            font-size: 55px;
            font-family: "Playfair Display", serif;
            font-weight: bold;
            color: #fff;
            margin-bottom: 20px;
            line-height: 1.2;
        }
        p{
         
            font-size: 25px;
            color: #fff;
            font-family: "Lora", serif;
            font-style: italic;
            line-height: 30px;
            padding-right: 80px;
            margin-bottom: 32px;
        }
        .button{
            width: 160px;
            height: 45px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #fff;
            border: 1px solid #fff;
            border-radius: 50px;
            color: #242424;
            line-height: 45px;
            font-size: 15px;
            font-weight: 600;
            transition: .5s;
            &:hover{
                transition: .5s;
                color: #f195b2;
            }
        }
    }
}
.ourCakes{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    .leftImg{
        background: url(../img/menu-left.png) no-repeat scroll center center;
    width: 260px;
    height: 480px;
    position: absolute;
    left: 0px;
    }
    .rightImg{
        background: url(../img/menu-right.png) no-repeat scroll center center;
        width: 260px;
        height: 640px;
        position: absolute;
        right: 0px;
    }
    .mainTxt{
        h1{
            color: #3e606b;
            font-family: "Playfair Display", serif;
            font-weight: bold;
            font-size: 38px;
            position: relative;
            margin-bottom: 15px;
        }
        p{
            font-size: 20px;
            font-family: "Lora", serif;
            color: #797979;
            margin-bottom: 0px;
            line-height: 30px;
        }

    }
    .menu-item{
        z-index: 3;
        h5{
        font-size: 20px;
        font-family: "Playfair Display", serif;
        font-weight: bold;
        color: #242424;
        margin-bottom: 10px;
        }
        p{
            font-size: 16px;
            font-family: "Open Sans", sans-serif;
            color: #797979;
            margin-bottom: 20px;
            span{
                float: right;
                color: #e3764b;
                font-size: 20px;
                font-family: "Playfair Display", serif;
                font-weight: bold;
                margin-right: 50px;
            }
        }
    }
}
.aboutUs{
    width: 100%;
    height: 90vh;
    background-color: #f6f6f6;
    overflow: hidden;
    .item-1{
        h1{
            color: #3e606b;
    font-family: "Playfair Display", serif;
    font-weight: bold;
    font-size: 38px;
    position: relative;
    display: inline-block;
    margin-bottom: 15px;
        }
        p{
            font-size: 16px;
            line-height: 26px;
            font-family: "Open Sans", sans-serif;
            color: #797979;
            font-style: normal;
        }
    }
    .item-2{
        h5{
            font-size: 18px;
    font-family: "Playfair Display", serif;
    font-weight: bold;
    color: #242424;
    margin-top: 18px;
        }
        p{
            font-size: 16px;
    font-family: "Lora", serif;
    color: #797979;
    font-style: italic;
    margin-bottom: 0px;
        }
    }
}
}
@media only screen and (max-width: 1200px){
    nav{
    .myImg{
        display: none;
    }
}
    .homePage{
       .slider1, .slider2{
           .texts{
               h1{
                   font-size: 30px;
               }
               p{
                   width: 80%;
                   font-size: 15px;
               }
               .button{
                   width: 100px;
                   height: 30px;
                   font-size: 10px;
               }
           }
       }
       .menu{
        height: auto;
        .cakeImg{
            display: flex;
            justify-content: center;
            align-items: center;
            img{
            width: 200px;
            }
        }
        .cakeTexts{
            display: flex;
            justify-content: center;
            align-items: center;
            h1{
                font-size: 40px;
            }
            p{
                font-size: 20px;
            }
        }
    }
    .ourCakes{
        height: auto;
    }
    .aboutus{
        height: auto;
    }

    }
    
    
     
}